html {
  font-size: 16px;
  font-family: Georgia, serif;
}

body {
  background-color: #fbfbfb;
}

h1,
h2,
h3 {
  margin-top: 0;
}

header h1 {
  margin: 0;
}

main p {
  margin-bottom: 0;
}
.container {
  display: grid;

  margin: 0 2rem;
  grid-template-columns: 2fr 6fr 4fr;
  grid-gap: 2rem 1rem;
  grid-template-rows: 3rem;
  grid-template-areas: 'logo menu menu';
}
.logo {
  grid-area: logo;
  line-height: 100%;
  line-height: 3rem;
  align-self: center;
}
.main-menu {
  grid-area: menu;
  align-self: center;
  justify-self: end;
}
.main-menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.main-menu__item {
  list-style: none;
  padding: 0;
  margin-right: 0.5rem;
}
.main-menu .main-menu__item:last-of-type {
  margin-right: 0;
}
.content-area {
  grid-area: content;
}
.sidebar {
  grid-area: sidebar;
}
.sponsors-wrapper {
  grid-area: sponsors;
}
.footer {
  grid-area: footer;
}
/.main-header {
  height: 3rem;
}
