html {
  font-size: 16px;
  font-family: Georgia, serif;
}

body {
  background-color: #fbfbfb;
}

h1,
h2,
h3 {
  margin-top: 0;
}

header h1 {
  margin: 0;
}

main p {
  margin-bottom: 0;
}
.container {
  display: grid;
  max-width: 1110px;
  margin: 0 auto;

  grid-template-columns: 2fr 6fr 4fr;
  grid-gap: 2rem 1rem;
  grid-template-rows: 3rem auto;
  grid-template-areas:
    'logo menu menu'
    'content content sidebar'
    'sponsors sponsors sponsors'
    'footer footer footer';
}
/*----------------
    Header
-----------------*/
.logo {
  grid-area: logo;
  height: 100%;
  line-height: 3rem;
  align-self: center;
}
.main-menu {
  grid-area: menu;
  align-self: center;
  justify-self: end;
}
.main-menu ul {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
}
.main-menu__item {
  list-style: none;
  padding: 0;
  margin-right: 0.5rem;
}
.main-menu .main-menu__item:last-of-type {
  margin-right: 0;
}
/*----------------
    Content 
-----------------*/
.content-area {
  grid-area: content;
}
/*----------------
    Sidebar
-----------------*/
.sidebar {
  grid-area: sidebar;
  padding: 1rem;
}
/*----------------
    Sponsors
-----------------*/
.sponsors-wrapper {
  grid-area: sponsors;
}
.sponsors {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto;
  grid-gap: 1rem;
}
.sponsor {
  margin-left: 0;
  margin-right: 0;
  background-color: #fff;
  border-radius: 0.625rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
/*----------------
    Footer
-----------------*/
.footer {
  grid-area: footer;
}
.main-header {
  height: 3rem;
}
/*----------------
  Media queries
-----------------*/
@media all and (max-width: 992px) {
  .container {
    margin: 0 1rem;
  }
  .sponsors {
    grid-column-gap: 0.5rem;
  }
}

@media all and (max-width: 768px) {
  html {
    font-size: 14px;
  }

  .sponsors {
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-row-gap: 1rem;
  }
}

@media all and (max-width: 540px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas:
      'logo'
      'menu'
      'content'
      'sidebar'
      'sponsors'
      'footer';
  }
}
